@import url("https://rsms.me/inter/inter.css");

#shoe-picker-container {
  background: white;
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;
}

#shoe-picker-container h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 5em;
  font-weight: 400;
  line-height: 0.7em;
  letter-spacing: -2px;
  color: #272730;
}

#shoe-picker-container .picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
}
